@use '_mediaQuery.scss' as *;

// お問い合わせフォーム
.contact {
    .contact__h2 {
        color: #4E301B;
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 104px;
        @include max(md){
        }
    }
    .contact__p {
        color: #4E301B;
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-top: 67px;
        @include max(sm){
            padding: 40px;
        }
    }

    .contact__form {
        width: 740px;
        height: 849px;
        // flex-shrink: 0;
        border-radius: 20px;
        background-color: #FFF;
        margin: 93px auto 30px;
        @include max(sm){
            margin-top: 35px;
            width: 85%;
            height: 100%;
            padding-bottom: 30px;
        }

        .contact__form_h3 {
            color: #4E301B;
            text-align: center;
            font-family: Noto Sans JP;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 37px;
        }

        .contact__form_table {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 44px auto 50px;
            @include max(sm){
                justify-content: flex-start;
            }

            .contact__form_table-tr {
                display: flex;
                align-items: flex-start;
                margin-top: 24px;
                // position: relative;
                @include max(sm){
                    display: block;
                }

                &:nth-child(1) {
                    margin-top: 0;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(6) {
                    align-items: center;
                }


                .contact__form_table_item {
                    // position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    width: calc(128px + 18px + 50px);
                    @include max(md){
                        margin-left: 50px;
                    }

                    // 必須
                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 50px;
                        height: 30px;
                        flex-shrink: 0;
                        border-radius: 10px;
                        background-color: #FED966;
                        margin-left: 18px;
                        color: #4E301B;
                        text-align: center;
                        font-family: Noto Sans JP;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                .contact__form_table_body {
                    @include max(sm){
                        display: block;
                        margin-top: 10px;
                    }
                    /* Label positioning context */
                    .radio-label {
                        position: relative;
                        display: block;
                        padding-left: 24px;
                        /* Space for the custom radio button */
                        margin-bottom: 10px;
                        cursor: pointer;
                        margin-left: 58px;


                        &:nth-child(3) {
                            margin-bottom: 0;
                        }

                        /* Hide default radio button */
                        .radio-test {
                            position: absolute;
                            opacity: 0;
                            z-index: -1;

                            .radio-label-span {
                                color: #4E301B;
                                text-align: center;
                                font-family: Noto Sans JP;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 23px;
                                
                            }
                        }
                        /* Focus State */
                    }
                }



                .contact__form_table_body_postal_code {
                    display: flex;
                    border-radius: 5px;
                    background: #EFEAE6;
                    width: 157px;
                    height: 40px;
                    flex-shrink: 0;
                    border: none;
                    padding: 0;
                    margin-left: 58px;
                    // margin-top: 24px;
                    padding: 10px;
                    @include max(md){
                        margin-top: 10px;
                        margin-left: 50px;
                    }
                    @include max(sm){
                        width: 50%;
                    }
                }

                .contact__form_table_body_name,
                .contact__form_table_body_address,
                .contact__form_table_body_email,
                .contact__form_table_body_tel {
                    display: flex;
                    margin-left: 58px;
                    border: none;
                    width: 334px;
                    height: 40px;
                    border-radius: 5px;
                    background: #EFEAE6;
                    padding: 0;
                    padding: 10px;
                    // margin-top: 24px;
                    @include max(md){
                        // margin: 0 auto;
                        // width: 70%;
                    }
                    @include max(sm){
                        margin: 0px 50px;
                        // width: 230px;
                        width: 70%;
                    }
                }

                .contact__form_table_body_textarea {
                    display: flex;
                    // margin-top: 24px;
                    margin-left: 58px;
                    width: 334px;
                    height: 170px;
                    flex-shrink: 0;
                    border-radius: 5px;
                    background: #EFEAE6;
                    padding: 10px;
                    @include max(md){
                        // margin: 0 0 0 50px ;
                    }
                    @include max(sm){
                        margin: 0px 50px;
                        // width: 230px;
                        width: 70%;
                    }
                }


            }

        }

        .btn {
            display: block;
            width: 243px;
            height: 46px;
            flex-shrink: 0;
            border-radius: 10px;
            background: #FED966;
            text-align: center;
            margin: 0 auto;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                opacity: 0.5;
                transition: all .01s;
            }

            span {
                color: #4E301B;
                text-align: center;
                font-family: Noto Sans JP;
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

    }
}





/* Custom Radio Button Design */
.radio-label-span::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #4E301B;
    /* Border color */
    border-radius: 50%;
    /* Rounded corners for radio button */
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


 /* Custom Radio Button Checked State */
input[type="radio"]:checked + .radio-label-span::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 6px solid #4E301B;
    /* Fill color when checked */
    border-radius: 50%;
    /* Rounded corners for checked state */
    position: absolute;
    top: 50%;
    left: 0px;
    /* Centering the filled circle */
    transform: translateY(-50%);
}

.is-invalid{
    border-color: #28a745;
}


.message-box{
    position: fixed;
    z-index:99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    display: none;
}
.message{
    position: fixed;
    top: 50%;
    width: 80%;
    height: 50%;
    margin: 0px;
    z-index: 100000;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #FfF;
    text-align: center;
    // opacity: 1;
    display: none;
    & .end_message{
        position: absolute;
        width: 100%;
        font-size: 34px;
        font-weight: 700;
        line-height: 30px;
        color: black;
        top: 40%;
        z-index: 9999999999;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    & .close{
        position: absolute;
        top: 70%;
        left: 50%;
        color: #fff;
        background-color: black;
        transform: translate(-50%,-50%);
        font-size: 24px;
        font-weight: 700;
        font-family: Noto Sans JP;
        border: 1px black solid;
        display: block;
        width: 300px;
        height: 100px;
        transition: all 0.2s;
        &:hover{
            background-color: #fff;
            color: black;
        }
    }

}
:disabled{
    opacity: 0.5;
}


tbody{
    @include max(sm){
        width: 100%;
    }
}
