@use '_mediaQuery.scss' as *;

.faq {
    width: 100%;
    height: 711px;
    position: relative;
    margin: 91px auto 0;
    @include max(md){
        margin-top: 50px;
        margin-bottom: 100px;
        height: 600px;
        height: 100%;
    }

    &__h2 {
        color: #4E301B;
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    & .acc {
        width: 740px;
        margin: 73px auto 0;
        @include max(md){
            margin-top: 50px;
            width: 100%;
        }

        &__ul {
            & .acc__det {
                &_ttl {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #4E301B;
                    font-family: Noto Sans JP;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    width: 740px;
                    height: 50px;
                    flex-shrink: 0;
                    background: #FFF;
                    padding-left: 8px;
                    margin-top: 31px;
                    @include max(md){
                        width: 90%;
                        font-size: 12px;
                        margin-right:auto;
                        margin-left:auto;
                    }
                


                    & span {
                        color: #4E301B;
                        text-align: center;
                        font-family: Roboto;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        padding-right: 3px;
                    }

                    & .icon {
                        margin-left: auto;
                        margin-right: 14px;

                    }
                    & .rotate{
                        transform: rotate(180deg);
                    }
                }

                &_text {
                    display: none;
                    color: #4E301B;
                    font-family: Noto Sans JP;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%;
                    margin-top: 14px;
                    padding-left: 10px;
                    /* 24px */
                    @include max(md){
                        width: 90%;
                        font-size: 12px;
                        margin-right:auto;
                        margin-left:auto;
                    }
                    &.open {
                        display: block;
                    }


                    

                }
            }
        }
    }

    & .faq__img {
        // position: absolute;
        // z-index: 2;
        // top: -50px;
        // width: 349px;
        // height: 197px;
        // -o-object-fit: cover;
        // object-fit: cover;
        // text-align: left;


        @include max(md){
            top: 520px;
        }
        & img{
            width: 75%;
        }
    }
}