@use '_mediaQuery.scss' as *;

.footer {
    background-color: #FFF;
    text-align: center;
    position: relative;

    .footer__logo {
        text-align: center;

        .footer__logo_img {
            margin-top: 24px;
        }
    }

    .footer__ttl {
        display: inline-flex;
        padding: 19.28px 14px 17.944px 10.76px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        gap: 12.246000000000002px;
    }

    .footer__ul {
        position:relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        @include max(md) {
            display: block;
            text-align: center;
        }

        .footer__ul_li {
            color: #4E301B;
            text-align: center;
            font-family: Noto Sans JP;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding-top: 33px;
            padding-right: 24px;
            padding-bottom: 100px;
            cursor: pointer;

            @include max(md) {
                padding: 5px;
            }

            &:nth-child(6) {
                padding-right: 0;
            }

        }
    }

    .footer__img {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 60px;


        .footer__img_1 {
            vertical-align: top;


            @include max(md) {
                width: 150px;
            }
        }

        .footer__img_2 {
            vertical-align: top;


            @include max(md) {
                width: 150px;
            }
        }
    }

    .footer__copy {
        width: 100%;
        height: 60px;
        background-color: #D9D9D9;
        display: flex;
        align-items: center;
        justify-content: center;

        .footer__copy_small {
            color: #4E301B;
            text-align: center;
            font-family: Noto Sans JP;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}