@use '_mediaQuery.scss' as *;

.product {
    &__h2 {
        color: #4E301B;
        text-align: center;
        font-family: Noto Sans JP;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 126px;
        @include max(md){
            margin-bottom: -60px;
        }
    }

    .swiper {
        &-wrapper {}

        &-slide {
            margin: 91px 0 94px 0;
            width: 264px;
            height: 331px;

            &-img {
        

                img {
                    width: 100%;
                    height: 166px;
                    object-fit: cover;
                }
            }

            &-textbox {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 165px;
                background: #FFF;
                box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
                margin: 0 0 94px 0;

                &-text {
                    width: 100%;
                    padding: 16px 16px 0;

                    p {
                        color: #4E301B;
                        font-family: Noto Sans JP;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                        /* 24px */
                    }
                }

                &-price {
                    display: flex;
                    align-items: flex-end;
                    padding-left: 16px;
                    padding-bottom: 16px;

                    p {
                        color: #4E301B;
                        font-family: Noto Sans JP;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }
}

